/doc/javadoc/*
/classes/
/target/
/logs/
/target/
modules/*/target/
.DS_Store
.classpath
.settings
.project
pom.xml.versionsBackup
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__bcel_bcel_5_1.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_2.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_2.xml
/.idea/libraries/Maven__com_adobe_xmp_xmpcore_5_1_2.xml
/.idea/libraries/Maven__com_drewnoakes_metadata_extractor_2_6_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_10.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_10.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_10_4.xml
/.idea/libraries/Maven__com_github_cmacdonald_memory_measurer__a6f9dd6696_1.xml
/.idea/libraries/Maven__com_github_yasserg_jforests_v0_5.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_0.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_code_gson_gson_1_7_1.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_2_4.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_2_0.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0.xml
/.idea/libraries/Maven__com_google_guava_guava_11_0_2.xml
/.idea/libraries/Maven__com_google_guava_guava_27_0_jre.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_2_5_0.xml
/.idea/libraries/Maven__com_googlecode_juniversalchardet_juniversalchardet_1_0_3.xml
/.idea/libraries/Maven__com_googlecode_mp4parser_isoparser_1_0_RC_1.xml
/.idea/libraries/Maven__com_jakewharton_byteunits_byteunits_0_9_1.xml
/.idea/libraries/Maven__com_jamesmurty_utils_java_xmlbuilder_0_4.xml
/.idea/libraries/Maven__com_jcraft_jsch_0_1_54.xml
/.idea/libraries/Maven__com_nimbusds_nimbus_jose_jwt_3_9.xml
/.idea/libraries/Maven__com_sleepycat_je_5_0_73.xml
/.idea/libraries/Maven__com_squareup_okhttp_okhttp_2_4_0.xml
/.idea/libraries/Maven__com_squareup_okio_okio_1_4_0.xml
/.idea/libraries/Maven__com_sun_jersey_jersey_json_1_9.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_2_3_1.xml
/.idea/libraries/Maven__com_thoughtworks_paranamer_paranamer_2_3.xml
/.idea/libraries/Maven__com_uwyn_jhighlight_1_0.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_7_0.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_core_1_8_0.xml
/.idea/libraries/Maven__commons_cli_commons_cli_1_2.xml
/.idea/libraries/Maven__commons_cli_commons_cli_1_4.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_4.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
/.idea/libraries/Maven__commons_configuration_commons_configuration_1_6.xml
/.idea/libraries/Maven__commons_digester_commons_digester_1_8.xml
/.idea/libraries/Maven__commons_io_commons_io_2_4.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__commons_net_commons_net_3_1.xml
/.idea/libraries/Maven__de_l3s_boilerpipe_boilerpipe_1_1_0.xml
/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
/.idea/libraries/Maven__edu_ucar_netcdf_4_2_min.xml
/.idea/libraries/Maven__edu_uci_ics_crawler4j_4_1.xml
/.idea/libraries/Maven__io_netty_netty_3_7_0_Final.xml
/.idea/libraries/Maven__it_unimi_dsi_fastutil_8_2_2.xml
/.idea/libraries/Maven__javax_activation_activation_1_1.xml
/.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
/.idea/libraries/Maven__javax_servlet_jsp_javax_servlet_jsp_api_2_2_1.xml
/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
/.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_1.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_2_2.xml
/.idea/libraries/Maven__javax_xml_stream_stax_api_1_0_2.xml
/.idea/libraries/Maven__jdom_jdom_1_0.xml
/.idea/libraries/Maven__jline_jline_2_6.xml
/.idea/libraries/Maven__junit_junit_4_8_1.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/.idea/libraries/Maven__net_java_dev_jets3t_jets3t_0_9_0.xml
/.idea/libraries/Maven__net_jcip_jcip_annotations_1_0.xml
/.idea/libraries/Maven__net_minidev_json_smart_1_1_1.xml
/.idea/libraries/Maven__net_sf_jopt_simple_jopt_simple_4_0_beta1.xml
/.idea/libraries/Maven__net_sf_trove4j_trove4j_2_0_2.xml
/.idea/libraries/Maven__net_sourceforge_findbugs_annotations_1_3_2.xml
/.idea/libraries/Maven__org_apache_ant_ant_1_8_4.xml
/.idea/libraries/Maven__org_apache_ant_ant_apache_bcel_1_8_4.xml
/.idea/libraries/Maven__org_apache_ant_ant_launcher_1_8_4.xml
/.idea/libraries/Maven__org_apache_avro_avro_1_7_4.xml
/.idea/libraries/Maven__org_apache_commons_commons_collections4_4_0.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_4_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_jexl_2_1_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
/.idea/libraries/Maven__org_apache_commons_commons_math3_3_1_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_text_1_4.xml
/.idea/libraries/Maven__org_apache_curator_curator_client_2_7_1.xml
/.idea/libraries/Maven__org_apache_curator_curator_framework_2_7_1.xml
/.idea/libraries/Maven__org_apache_curator_curator_recipes_2_7_1.xml
/.idea/libraries/Maven__org_apache_directory_api_api_asn1_api_1_0_0_M20.xml
/.idea/libraries/Maven__org_apache_directory_api_api_util_1_0_0_M20.xml
/.idea/libraries/Maven__org_apache_directory_server_apacheds_i18n_2_0_0_M15.xml
/.idea/libraries/Maven__org_apache_directory_server_apacheds_kerberos_codec_2_0_0_M15.xml
/.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_stax_api_1_0_spec_1_0_1.xml
/.idea/libraries/Maven__org_apache_hadoop_hadoop_annotations_2_8_2.xml
/.idea/libraries/Maven__org_apache_hadoop_hadoop_auth_2_8_2.xml
/.idea/libraries/Maven__org_apache_hadoop_hadoop_common_2_8_2.xml
/.idea/libraries/Maven__org_apache_hadoop_hadoop_hdfs_client_2_8_2.xml
/.idea/libraries/Maven__org_apache_htrace_htrace_core4_4_0_1_incubating.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_5.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_6.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_2.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_6.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3_3.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_4.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_10.xml
/.idea/libraries/Maven__org_apache_james_apache_mime4j_core_0_7_2.xml
/.idea/libraries/Maven__org_apache_james_apache_mime4j_dom_0_7_2.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_snowball_3_0_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_artifact_3_5_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_builder_support_3_5_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_3_5_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_builder_3_5_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_repository_metadata_3_5_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_resolver_provider_3_5_0.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_api_1_4_1.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_connector_basic_1_4_1.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_impl_1_0_3.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_spi_1_4_1.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_transport_file_1_4_1.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_transport_http_1_4_1.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_util_1_4_1.xml
/.idea/libraries/Maven__org_apache_pdfbox_fontbox_2_0_18.xml
/.idea/libraries/Maven__org_apache_pdfbox_pdfbox_2_0_18.xml
/.idea/libraries/Maven__org_apache_poi_poi_3_8.xml
/.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_8.xml
/.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_8.xml
/.idea/libraries/Maven__org_apache_poi_poi_scratchpad_3_8.xml
/.idea/libraries/Maven__org_apache_tika_tika_core_1_5.xml
/.idea/libraries/Maven__org_apache_tika_tika_parsers_1_5.xml
/.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_3_0.xml
/.idea/libraries/Maven__org_apache_zookeeper_zookeeper_3_4_6.xml
/.idea/libraries/Maven__org_aspectj_aspectjrt_1_6_11.xml
/.idea/libraries/Maven__org_bouncycastle_bcmail_jdk15_1_45.xml
/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15_1_45.xml
/.idea/libraries/Maven__org_ccil_cowan_tagsoup_tagsoup_1_2_1.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_2_5_2.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_13.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_jaxrs_1_8_3.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_13.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_xc_1_8_3.xml
/.idea/libraries/Maven__org_codehaus_jettison_jettison_1_1.xml
/.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_component_annotations_1_7_1.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_interpolation_1_24.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_utils_3_0_24.xml
/.idea/libraries/Maven__org_eclipse_jdt_core_compiler_ecj_4_4_2.xml
/.idea/libraries/Maven__org_eclipse_jetty_apache_jsp_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_annotations_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_jndi_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_plus_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_3_28_v20191105.xml
/.idea/libraries/Maven__org_eclipse_jetty_toolchain_jetty_schemas_3_1.xml
/.idea/libraries/Maven__org_gagravarr_vorbis_java_core_0_1.xml
/.idea/libraries/Maven__org_gagravarr_vorbis_java_core_tests_0_1.xml
/.idea/libraries/Maven__org_gagravarr_vorbis_java_tika_0_1.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_framework_2_4_0.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_2_4_0.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_server_2_4_0.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_5_0_b42.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_5_0_b42.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_5_0_b42.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_5_0_b42.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_5_0_b42.xml
/.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
/.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_grizzly2_http_2_27.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_27.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_27.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_27.xml
/.idea/libraries/Maven__org_glassfish_jersey_inject_jersey_hk2_2_27.xml
/.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_jaxb_2_27.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_javassist_javassist_3_22_0_CR2.xml
/.idea/libraries/Maven__org_jsoup_jsoup_1_7_3.xml
/.idea/libraries/Maven__org_mortbay_jasper_apache_el_8_0_33.xml
/.idea/libraries/Maven__org_mortbay_jasper_apache_jsp_8_0_33.xml
/.idea/libraries/Maven__org_mortbay_jetty_jetty_6_1_26.xml
/.idea/libraries/Maven__org_mortbay_jetty_jetty_sslengine_6_1_26.xml
/.idea/libraries/Maven__org_mortbay_jetty_jetty_util_6_1_26.xml
/.idea/libraries/Maven__org_ow2_asm_asm_6_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_commons_6_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_debug_all_4_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_tree_6_0.xml
/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_6.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Maven__org_tukaani_xz_1_0.xml
/.idea/libraries/Maven__org_utgenome_thirdparty_picard_1_86_0.xml
/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_0_4_1.xml
/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_0_5_M3.xml
/.idea/libraries/Maven__regexp_regexp_1_2.xml
/.idea/libraries/Maven__rome_rome_0_9.xml
/.idea/libraries/Maven__stax_stax_api_1_0_1.xml
/.idea/libraries/Maven__uk_ac_gla_dcs_terrierteam_jtreceval_0_0_5.xml
/.idea/libraries/Maven__uk_org_lidalia_lidalia_slf4j_ext_1_0_0.xml
/.idea/libraries/Maven__xerces_xercesImpl_2_8_1.xml
/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
/.idea/libraries/Maven__xmlenc_xmlenc_0_52.xml
/.idea/misc.xml
/.idea/modules.xml
/modules/assemblies/terrier-assemblies.iml
/modules/batch-indexers/terrier-batch-indexers.iml
/modules/batch-retrieval/terrier-batch-retrieval.iml
/modules/concurrent/terrier-concurrent.iml
/modules/core/terrier-core.iml
/modules/index-api/terrier-index-api.iml
/modules/learning/terrier-learning.iml
/modules/logging/terrier-logging.iml
/terrier-platform.iml
/modules/realtime/terrier-realtime.iml
/modules/rest-client/terrier-rest-client.iml
/modules/rest-server/terrier-rest-server.iml
/modules/retrieval-api/terrier-retrieval-api.iml
/modules/tests/terrier-tests.iml
/modules/website-search/terrier-website-search.iml
/.idea/vcs.xml
